<section class="py-5">
  
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row">
        <div class="col-sm-4">
          
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="rechercher votre produit" aria-label="Search">
  
            </form>
         
  
        </div>
        <div class="col-sm-8">
          <button type="button" id="add" class="btn btn-outline-primary mb-5">+ Ajouter</button>
        </div>
      </div>
      
  
     
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>